img {
  width: 100%;
}

/* .techSpecsSection {
  margin-top: 80px;
} */

/* .projectTechSpecs {
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .techSpecs {
  width: 250px;
} */
