body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
}

h2 {

}

.wrapper {
  background-color: pink;
  margin-left: 220px;
  margin-right: 220px;
}

.aboutMe {
  display: flex;
  display: row;
}
.aboutMeImage img {
  width: 50%;
  margin: 50px auto;
  display: flex;
}
.techGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-betw;
}
