* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  background-color: #E6E6EA;
  padding: 0;
  font-family: "Muli", sans-serif;
}

button {
  background-color: #B2E4DB;
  border-radius: 20px;
  color: #1B998B;
  font-family: "Maven Pro", sans-serif;
  margin-bottom: 50px;
  padding: 15px 25px;
  width: 200px;
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
}

h2 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

img {
  margin-top: 0;
  width: 100%;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.aboutMeSection {
  margin: 60px 0;
  display: flex;
  display: row;
}

.aboutMeImage img {
  margin-top: 40px;
  width: 100%;
}

.aboutMeText {
  margin-left: 80px;
}

.aboutMeText h2 {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.techSection,
.skillsColumns,
.studiesColumns {
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.techText {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.caseDescription {
  width: 60%;
}

.techSection img {
  height: 260px;
}

.case {
  width: 390px;
  margin-right: 10px;
}

.skills,
.studies {
  width: 30%;
}

.projectButton,
.studiesButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #549F93;
  color: #B2E4DB;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  text-align: center;
}

.footer h3 {
  margin: 0;
}
.footer p {
  margin: 0;
}
