* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #545454;
}

body {
  background-color: #D0CDD7;
  color: #545454;
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
}

button {
  background-color: #545454;
  border-radius: 20px;
  color: #E6E6E6;
  font-family: "Maven Pro", sans-serif;
  margin: 20px auto;
  padding: 15px 25px;
  outline: none;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #416165;
}

button img {
 padding-right: 10px;
 width: auto;
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
}

h2 {
  border-bottom: 4px dotted #416165;
  color: #545454;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-weight: 900;
}

img {
  margin-top: 0px;
  width: 100%;
}

span {
  color: #92B9BD;
  font-weight: 900;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

/* LP About me section */
.aboutMeSection {
  margin-top: 40px;
  display: flex;
  display: row;
}

.aboutMeImage {
  display: flex;
  align-items: center;
  width: 40%;
}

.aboutMeImage img {
  width: 100%;
}

.aboutMeText {
  width: 60%;
  margin-left: 80px;
}

.aboutMeName h2 {
  border-bottom: none;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
}

 /* LP tech text */
.techText {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Grid and columns */
.casesGridItems,
.skillsColumns,
.studiesColumns,
.techSpecsColumns {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* LP cases grid */
.case {
  margin: 20px 10px 0 0;
  width: 48%;
}

.case h3 {
height: 35px;
}

.case img {
  height: 260px;
  object-fit: cover;
}

.caseButton {
  display: flex;
  justify-content: flex-start;
}

/* LP studies section */
.studies {
  margin-bottom: 10px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.studies h3 {
  margin: 0;
}

.studies p {
  margin-top: 0;
}

/* Project pages */
.caseDescription {
  width: 60%;
}

.caseImage {
  margin-top: 20px;
}

/* Work Section */
.workText {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* Styled buttons */
.aboutMeButton {
  display: flex;
  justify-content: space-between;
}

.linkedinButton button:hover {
  background-color: #92B9BD;
}

/* Footer */
.footer {
  background-color: #416165;
  color: #E6E6EA;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 40px auto 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .wrapper {
    justify-content: center;
    padding: 0 30px;
    width: 100%;
  }

  .aboutMeText {
    margin-left: 40px;
  }

  .case {
    /* margin: 20px 10px 0 0; */
  }

  .case img {
    width: 100%;
  }

}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .wrapper {
    padding: 20px 20px 0;
  }

  .aboutMeSection  {
    flex-direction: column;
    margin-top: 0;
  }

  .aboutMeImage {
    margin: 0 auto;
    width: 80%;
  }

  .aboutMeName h2 {
    border-bottom: none;
    font-size: 26px;
    letter-spacing: normal;
  }

  .aboutMeText {
    margin: 0;
    width: 100%;
  }

  .aboutMeButton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .case {
    width: 100%;
  }

  .case img {
  }

  .caseDescription {
    width: 100%;
  }

  .casesGridItems,
  .skillsColumns,
  .techSpecsColumns {
    margin: 0 auto;
  }

.techSpecsColumns {
  display: flex;
  flex-direction: column;
}

.techSpecsColumns h3 {
  margin-bottom: 5px 0;
}
  .skills,
  .techSpecs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .skills p {
    padding-right: 30px;
    line-height: 1px;
  }

  .techSpecs p {
    margin: 0;
    padding-right: 30px;
  }

  .studiesColumns {
    display: block;
    margin-bottom: 0;
  }

  .studies {
    display: block;
    width: 100%;
  }

  .workText {
    letter-spacing: normal;
  }
}
