* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #545454;
}

body {
  background-color: #E6E6EA;
  color: #545454;
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
}

button {
  background-color: #66101F;
  border-radius: 20px;
  color: #E6E6E6;
  font-family: "Maven Pro", sans-serif;
  margin: 40px auto;
  padding: 15px 25px;
  outline: none;
  width: 200px;
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
}

h2 {
  border-bottom: 4px dotted #66101F;
  color: #545454;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-weight: 900;
}

img {
  margin-top: 0px;
  width: 100%;
}

span {
  color: #579F93;
  font-weight: 900;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

/* LP About me section */
.aboutMeSection {
  margin: 40px 0 10px 0;
  display: flex;
  display: row;
}

.aboutMeImage {
  width: 40%;
}

.aboutMeImage img {
  margin-top: 40px;
  width: 100%;
  /* position: relative;
  z-index: 10; */
}

.aboutMeText {
  width: 60%;
  margin-left: 80px;
}

.aboutMeText h2 {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-style: italic;
  border-bottom: none;
}

/* .wrapper .colorBox {
  position: absolute;
  margin: 40px;
}

#green {
  width: 400px;
  height: 400px;
  background-color: #284943;
  left: 200px;
  top: 100px;
  opacity: 0.8;
} */

/* #wine {
  width: 400px;
  height: 400px;
  background-color: #75B0A6;
  left: 200px;
  top: 20px;
}

#gray {
  width: 400px;
  height: 400px;
  background-color: #C1DCD7;
  left: 200px;
  top: 200px;
} */

 /* LP tech text */
.techText {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 50px;
}

/* Grid and columns */
.casesGridItems,
.skillsColumns,
.studiesColumns,
.techSpecsColumns {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* LP cases grid */
.case {
  margin-right: 10px;
  width: 48%;
}

.case h3 {
height: 35px;
}

.case img {
  height: 260px;
}

/* LP studies section */
.studies {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Project pages */
.caseDescription {
  width: 60%;
}

.caseImage {
  margin-top: 20px;
}

/* Styled buttons */
.aboutMeButton,
.githubButton,
.projectButton,
.studiesButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer {
  background-color: #66101F;
  color: #E6E6EA;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}
